<!DOCTYPE html>
<html lang="en">
<head>
  <title>Median Income</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>  


</head>
<body>
    <a class="navbar-brand" href="/table" style="color: white; background-color: rgb(53, 36, 36)">
      <span class="nav-color">Data Table</span>
    </a>
<body>
    <script>
        function myFunction(address) {
          window.location.pathname = address;
        };
        </script>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="col-lg-10 text-center">
        <div class="container">
          <!-- title -->
            <h2>Finding Correlations between Educational Factors and High School Graduation Rates In Texas </h2>
            <div class="select">
              <!-- drop down to choose features we would like to display -->
            <span> CHOOSE A FEATURE: </span>
            <select class="form-control" id="choice">
              <optgroup label="Choropleth">
                <option value="Income">Income By County</option>
                <option value="Graduation">Graduation By County</option>
                <option value="SAT">SAT Scores By County</option>
              </optgroup>
              <optgroup label="Scatter Plots">
                  <option value="/sat_gr">Graduation Rate by SAT Scores</option>
                  <option value="/income">Graduation Rate by Household Income</option>
                  <option value="/sat_income" selected="selected">SAT Scores vs. Household Income</option>
              </optgroup>   
            </select>
          </div>
         
          <!-- adding plot div -->
            <div id="scatter-div"></div>
           
        </div>
    </div>
    <!-- /#page-content-wrapper -->

<!-- loads app.js -->
<script src="../static/income_sat.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
